/*noinspection ALL*/

QPushButton{
    background-color: hsl(201, 32%, 44%);
    border-radius: 4px;
    /*border: 1px solid hsl(200, 28%, 35%);*/
    color: white;
    width: auto;
    height: 25px;
}
/*noinspection ALL*/
QPushButton:pressed{
    background-color: hsl(200, 27%, 40%);
}
/*noinspection ALL*/
QCheckBox:indicator:unchecked{
    image: url('system_image/checkBox_unchecked.bmp');
}
/*noinspection ALL*/
QCheckBox::indicator:checked{
    image: url('system_image/checkBox_checked.bmp');
}
/*noinspection ALL*/
QCheckBox::indicator:unchecked:hover{
    image: url('system_image/checkBox_hover.bmp');
}
/*noinspection ALL*/
QCheckBox::indicator:checked:hover{
    image: url('system_image/checkBox_hover_checked.bmp');
}
/*noinspection ALL*/

/*QComboBox {*/
    /*border: 1px solid gray;*/
    /*border-radius: 3px;*/
    /*padding: 1px 18px 1px 3px;*/
    /*min-width: 6em;*/
/*}*/
/*!*noinspection ALL*!*/

/*QComboBox:editable {*/
    /*background: white;*/
/*}*/
/*!*noinspection ALL*!*/
/*QComboBox:!editable, QComboBox::drop-down:editable {*/
     /*background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,*/
                                 /*stop: 0 #E1E1E1, stop: 0.4 #DDDDDD,*/
                                 /*stop: 0.5 #D8D8D8, stop: 1.0 #D3D3D3);*/
/*}*/
/*!* QComboBox gets the "on" state when the popup is open *!*/
/*!*noinspection ALL*!*/
/*QComboBox:!editable:on, QComboBox::drop-down:editable:on {*/
    /*background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,*/
                                /*stop: 0 #D3D3D3, stop: 0.4 #D8D8D8,*/
                                /*stop: 0.5 #DDDDDD, stop: 1.0 #E1E1E1);*/
/*}*/
/*!*noinspection ALL*!*/

/*QComboBox:on { !* shift the text when the popup opens *!*/
    /*padding-top: 3px;*/
    /*padding-left: 4px;*/
/*}*/
/*!*noinspection ALL*!*/

/*QComboBox::drop-down {*/
    /*subcontrol-origin: padding;*/
    /*subcontrol-position: top right;*/
    /*width: 15px;*/

    /*border-left-width: 1px;*/
    /*border-left-color: darkgray;*/
    /*border-left-style: solid; !* just a single line *!*/
    /*border-top-right-radius: 3px; !* same radius as the QComboBox *!*/
    /*border-bottom-right-radius: 3px;*/
/*}*/
/*!*noinspection ALL*!*/

/*QComboBox::down-arrow {*/
    /*image: url(/usr/share/icons/crystalsvg/16x16/actions/1downarrow.png);*/
/*}*/
/*!*noinspection ALL*!*/
/*QComboBox::down-arrow:on { !* shift the arrow when popup is open *!*/
    /*top: 1px;*/
    /*left: 1px;*/
/*}*/