/*noinspection ALL*/
QWidget#widget_2{
    /*background-color: rgb(249, 243, 246);*/
    background-color: hsl(201, 57%, 30%);
}
/*noinspection ALL*/
QLineEdit#search{
    background-color: hsl(205, 69%, 19%);
    color: white;
    border-radius: 3px;
    height: 20px;
}
/*noinspection ALL*/
QPushButton#search_btn, QPushButton#sort_btn, QPushButton#admin_btn{
    background-color: hsl(201, 32%, 44%);
    border-radius: 4px;
    color: white;
    height: 20%;
}
/*noinspection ALL*/
QPushButton#search_btn{
    width: 50%;
}
/*noinspection ALL*/
QPushButton#sort_btn{
    icon: url("system_image/sort_item_r.bmp");
    width: 100%;
}
/*noinspection ALL*/
QPushButton#admin_btn{
    width: 80%;
}
/*noinspection ALL*/
QPushButton#search_btn:pressed, QPushButton#sort_btn:pressed, QPushButton#admin_btn:pressed{
    /*background-color: hsl(199, 27%, 42%);*/
    background-color: hsl(200, 27%, 40%);
}
/*noinspection ALL*/
QPushButton#sort_btn:pressed{
    icon: url("system_image/sort_item_r_real.bmp");
}
/*QScrollBar:vertical {*/
    /*!*border: 0px solid #999999;*!*/
    /*!*background:white;*!*/
    /*background: rgb(249, 243, 246);*/
    /*width: 15px;*/
    /*margin: 0px 0px 0px 0px;*/
    /*border: 1px transparent #2A2929;*/
    /*border-radius: 6px;*/
/*}*/
/*QScrollBar::handle:vertical{*/
    /*!*background: qlineargradient(x1:0, y1:0, x2:1, y2:0,*!*/
        /*!*stop: 0 rgb(32, 47, 130), stop: 0.5 rgb(32, 47, 130),  stop:1 rgb(32, 47, 130));*!*/
    /*background: #bbdefb;*/
    /*subcontrol-position: bottom;*/
    /*subcontrol-origin: margin;*/
    /*min-height: 5px;*/
    /*border-radius: 6px;*/
/*}*/
